.baner {
    background: #1F1F1F;
    padding-top: 14.8rem;
    padding-bottom: 28rem;
    margin-bottom: 0;
    color: #ECECEC;

    .container {
        width: 137.3rem;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &-left {
        font-family: 'Myriad Pro';
        width: 33rem;
        margin-top: 7.5rem;

        &__subtitle {
            font-family: 'Myriad Pro Bold';
            color: #5EC99A;
            font-size: 2.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 2.6rem;
        }
        &__title {
            font-family: 'Myriad Pro Bold';
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            line-height: 6.5rem;
            margin-bottom: 3.1rem;
        }
        &__text {
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.8rem;
        }
    }
    &-center {
        width: 74rem;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 auto;
        top: -5.2rem;
    }
    &-right {
        margin-top: 6.9rem;

        &__title {
            font-family: 'Roboto Bold';
            font-size: 5rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 3.1rem;

            span {
                color: #96ACF9;
            }
        }
        &__text {
            font-family: 'Myriad Pro';
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.9rem;
            margin-bottom: 4.2rem;
            width: 29rem;
        }
    }
}

@media (max-width: 48em) {
    .baner {
        background: #1F1F1F;
        padding-top: 8.5rem;
        padding-bottom: 18.5rem;
        margin-bottom: 0;
        color: #ECECEC;
    
        .container {
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
        }
        &-left {
            font-family: 'Myriad Pro';
            width: auto;
            margin-top: 7.5rem;
    
            &__subtitle {
                font-size: 3.3rem;
                margin-bottom: 1rem;
            }
            &__title {
                font-size: 6.1rem;
                line-height: 115%;
                margin-bottom: 3rem;
                width: 55rem;
            }
            &__text {
                font-size: 2.8rem;
                line-height: 133.333%;
            }
        }
        &-center {
            width: 100rem;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
            margin: 0 auto -18rem;
            top: 0;
        }
        &-right {
            margin-top: 6.9rem;
    
            &__title {
                font-family: 'Roboto Bold';
                font-size: 4.4rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                margin-bottom: 3rem;
    
                span {
                    color: #96ACF9;
                }
            }
            &__text {
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: 146.667%;
                margin-bottom: 4.2rem;
                width: 60rem;
            }
        }
    }
}
