.competitive {
    .container {
        width: 100%;
        position: relative;
    }
    .main-title {
        margin-left: 28.6rem;
        margin-bottom: 7.2rem;
    }

    .swiper-slide {
        width: 16.407%;
        height: 31.7rem;
        border-radius: 20px;;
    }

    .swiper-wrapper {
        margin-left: -52rem;
    }
    &-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: space-between;
        padding: 2.6rem 0 3.5rem 0;
        border-radius: 20px;;
        color: #FFF;


        &__back {
            width: 100%;
            height: 100%;
            position: absolute;
            background-repeat: no-repeat;
            z-index: -1;
            border-radius: 20px;;
            top: 0;
            background-size: cover;
        }
        &__img {
            position: absolute;
            width: 25.3rem;
            height: 21.5rem;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__number {
            font-family: 'Myriad Pro Bold';
            font-size: 1.8rem;
            font-style: normal;
            line-height: normal;
            position: relative;
        }
        &__title {
            font-family: 'Myriad Pro Bold';
            font-size: 2.4rem;
            font-style: normal;
            line-height: normal;
        }
    }
    &-button-next, &-button-prev {
        top: 17%;
        color: #292929;
        height: 4.1rem;
    }
    &-button-next {
        left: auto;
        right: 29rem;

        &::after {
            content: '';
            display: block;
            background: url(../img/icon/swiper-next.svg) no-repeat;
            background-size: cover;
            width: 2.2rem;
            height: 4.1rem;
        }
    }
    &-button-prev {
        left: auto;
        right: 35.5rem;

        &::after {
            content: '';
            display: block;
            background: url(../img/icon/swiper-prev.svg) no-repeat;
            background-size: cover;
            width: 2.2rem;
            height: 4.1rem;
        }
    }
    &-pagination {
        top: 10.5%;
        right: 44rem;  
        display: flex;
        gap: 3.4rem;
    }
}

@media (max-width: 48em) {
    .competitive {
        margin-bottom: 35rem;
        .main-title {
            margin-left: 0;
            margin-bottom: 5.7rem;
        }
    
        .swiper-slide {
            width: auto;
            height: 66.5rem;
            border-radius: 20px;
        }
    
        .swiper-wrapper {
            margin-left: 0;
        }
        &-slide {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: space-between;
            padding: 5.4rem 0 8.5rem 0;
            border-radius: 20px;;
            color: #FFF;
    
    
            &__back {
                width: 100%;
                height: 100%;
                position: absolute;
                background-repeat: no-repeat;
                z-index: -1;
                border-radius: 20px;;
                top: 0;
            }
            &__img {
                position: absolute;
                width: auto;
                height: 41.5rem;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -45%);
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            &__number {
                font-size: 2.59rem;
            }
            &__title {
                font-size: 4.44rem;
            }
        }
        &-button-next, &-button-prev {
            top: auto;
            bottom: -14.5%;
            color: #FFFFFF;
            height: 7rem;
        }
        &-button-next {
            left: auto;
            right: 4rem;
    
            &::after {
                width: 3.7rem;
                height: 7rem;
            }
        }
        &-button-prev {
            left: 4rem;
            right: auto;
    
            &::after {
                width: 3.7rem;
                height: 7rem;
            }
        }
        &-pagination {
            top: 0;
            bottom: auto;
            right: 0;
            left: 0;
            margin: 0 auto;
            display: flex;
            gap: 4.5rem;
            transition: all 0.2s ease-in-out;

            &-container {
                bottom: -18.3%;
                right: 0;
                left: 0;
                margin: 0 auto;
                height: 10rem;
            }
            .swiper-pagination-bullet {
                width: 7.5rem;
                flex: none;
            }
        }
    }
}
