.how-it-works {
    background: #1F1F1F;
    margin-top: -1rem;
    padding-top: 21rem;
    margin-bottom: 0;
    color: #FFF;

    .main-title {
        margin-bottom: 4.1rem;
    }
    &-container {
        display: flex;
        justify-content: space-between;
    }
    .container {
        position: relative;
    }
    svg {
        position: absolute;
        top: 16rem;
        left: 19.3rem;
    }
    &-item {
        width: 33.3rem;

        &__number {
            font-family: 'Segoe UI Bold';
            font-size: 12rem;
            font-style: normal;
            line-height: normal;
            text-transform: uppercase;
            background: linear-gradient(182deg, #46CE93 0%, #1F1F1F 74.73%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: 1.5rem;
            position: relative;

            &::after {
                content: 'шаг';
                font-family: 'Segoe UI';
                font-size: 1.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                color: #FFF;
                text-transform: uppercase;
                position: absolute;
                display: block;
                background: #FFF;
                background-clip: text;
                -webkit-background-clip: text;
                top: 4.3rem;
                left: 8.3rem;
            }
        }
        &__title {
            font-family: 'Segoe UI Bold';
            font-size: 2.6rem;
            font-style: normal;
            line-height: 134.615%;
            margin-bottom: 2rem;
        }
        &__subtitle {
            font-family: 'Segoe UI';
            font-size: 1.8rem;
            font-style: normal;
            font-weight: 400;
            line-height: 144.444% ;
        }
    }
}