@import "set";


.swiper {
  overflow: hidden;
}
.btn {
  color: #FFF;
  background: linear-gradient(90deg, #111217 0%, #3B3D45 100%);
  box-shadow: 15px 30px 30px 0px rgba(0, 0, 0, 0.25);
  font-family: 'Myriad Pro';
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 1.9rem 8.9rem 1.6rem 2.6rem;
  position: relative;
  display: block;
  width: fit-content;
  height: fit-content;

  &::after {
    content: '>';
    display: block;
    // background: url(../img/icon/btn_arrow.svg) no-repeat;
    background-size: contain;
    width: auto;
    height: auto;
    position: absolute;
    right: 1.1rem;
    top: 0.5rem;
    font-family: 'Circe';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.main {

  &-title {
    font-family: 'Segoe UI Bold';
    font-size: 5rem;
    font-style: normal;
    line-height: normal;
  }
  &-subtitle {
    font-family: 'Segoe UI Bold';
    font-size: 2.2rem;
    font-style: normal;
    line-height: normal;

    &.blue {
      color: #477AFC;
    }
  }
}
.swiper-pagination-bullet {
  font-family: 'Euclid Circular A Bold';
  font-size: 5rem;
  font-style: normal;
  line-height: normal;
  width: auto;
  height: auto;
  position: relative;
  background: inherit;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  opacity: 0.3;
}

@media (max-width: 48em) {
  .main {

    &-title {
      font-family: 'Segoe UI Bold';
      font-size: 6rem;
      font-style: normal;
      line-height: normal;
    }
    &-subtitle {
      font-family: 'Segoe UI Bold';
      font-size: 2.6rem;
      font-style: normal;
      line-height: normal;
    }
  }

  .btn {
    box-shadow: 9px 23px 38px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Myriad Pro';
    font-size: 2.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 3rem 11.9rem 3rem 3rem;
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
  
    &::after {
      content: '';
      display: block;
      background: url(../img/icon/btn_arrow-left.svg) no-repeat;
      background-size: contain;
      width: 2rem;
      height: 4rem;
      position: absolute;
      right: 2.5rem;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .swiper-pagination-bullet {
    font-family: 'Euclid Circular A Bold';
    font-size: 6.1rem;
    font-style: normal;
    line-height: normal;
    width: auto;
    height: auto;
    position: relative;
    background: inherit;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    opacity: 0.3;
  }
  .swiper-pagination-container {
    position: absolute;
    overflow: hidden;
    width: 44rem;
    padding: 0 0 3rem;

    .swiper-pagination {
      display: flex;
      gap: 4.5rem;
      transition: all 0.2s ease-in-out;
    }

    .swiper-pagination-bullet {
      width: 7.5rem;
      flex: none;
    }
  }
}


@import "header";
@import "footer";

@import "baner";
@import "our-cases";
@import "key-features";
@import "competitive";
@import "advantages";
@import "free-period";
@import "results";
@import "benefits";
@import "pro-engaged";
@import "detailed";
@import "cost-promotion";
@import "service-packages";
@import "consultation";
@import "reviews";

@import "trap-baner";
@import "trap-our-cases";
@import "trap-key-features";
@import "trap-how-it-works";
@import "trap-consultation";
@import "trap-reson-use-wifi";
@import "trap-mechanic-work";
@import "trap-know-ad";
@import "trap-convenient-lk";
@import "trap-show-ad";
@import "trap-top-week";
@import "trap-popular-question";
@import "payment-online";


@media (min-width: 48.01em) {
  .mobile {
    display: none;
  }
}
@media (max-width: 48em) {
  .desktop {
    display: none;
  }
}